
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	
}
.item{
	height:100px;
	width:100px;
}
.item1{
	background-color:green;
}
.item2{
	background-color:red;
}
.item3{
	background-color:blue;
}

